sudo: false
language: "python"
python:
  - "3.5"
cache: "pip"
env:
  global:  # 'travis encrypt PYPI_PASSWORD=... GH_TOKEN=...'
    - PYPI_USERNAME=honzajavorek
    - secure: "bGvK9QI/y/5mTxCHHMlbehvpQFjuuMn35Prp8QGGwyBCdiD2XXVjPeLuTpBz/A6MZaQp5srPJagbhsHePvH//md1SHMPy6lfxw1RvYPxr9iPQ9ATFkIN6z/UtfpGJJUWj+jWwaICZzspySsvBhSd0ipWfIkfGM+HzMyPuRKFyKdxCCnFyUVN9AvvOKLrXl8saRSkXfpC54/LPhvL4WQMpkKEJyvMZtzsDcvP43+wWtw/cXpNpamfGe+iQ6wHokk0yUjIpSQBhzC1gP/ZR+TsskD97ci3c7P/2CXIDHlfgsSpl3K40NThv450+E6QGV1g/x6jCMb6Zaven5wOSorgQgkpeHDXAYinYNd8WdKiE/15KufKTVH+3l5VzWZKjyjzXQ00nfDfg2LJQV+BUFBZ/mL7P8XjHr5ZLbGXjRSW0vAjqBOXbE3lJjvvBhOKR3UlTxzJwrJEmo+ikJQbeH37lDJZUKMzWVQ2SwZQ23lVrVUcM8eaf2fu33YFgk8XIyNZWQyeHDMeVUgfBNRN+HOsXkKF540c6WycCW3KYP3wiQ4RvwyzVZD2Y/9TOcfi0lU3gTypOwaNyOItZzUGencFLGUstYzekFqXkUKdvpCYjFUhxACPrjjAzqp4O+N+OEvRJgDf30/1EroZFMwmCd1k/KQzuqSsTO/cNk36OclH/b4="
install:
  - "pip install -e .[tests,release]"
script:
  - "flake8"
  - "which blog"
  - "python -c 'from danube_delta.settings import *'"
after_success:
  - "git config user.name 'Honza Javorek'"
  - "git config user.email 'mail@honzajavorek.cz'"
  - "python setup.py publish"
